service: authorization-service
frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  
plugins:
  - serverless-webpack

custom:
  webpack:
    webpackConfig: 'config/webpack.config.js'
    includeModules: true

functions:
  hello:
    handler: handler.hello
